body {
	background-color: teal;
}

.gem1 {
	width: 150px;
	height: 150px;
	margin: 15px 15px 15px 15px;
}

.gem2 {
	width: 150px;
	height: 150px;
	margin: 15px 15px 15px 15px;
}

.gem3 {
	width: 150px;
	height: 150px;
	margin: 15px 15px 15px 15px;
}
